<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>interview</title>
    <link rel="stylesheet" href="MREQ.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <!--<script src="bar.js"></script>-->
    <style>
      body {
        font-family: "Kanit", sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid d-flex justify-content-between mt-5 ms-2">
      <h3 class="text-primary">รายชื่อผู้เข้าสัมภาษณ์</h3>
    </div>

    <div class="container" id="Table_ShowList">
      <div class="container w-75">
        <div class="d-flex justify-content-end mb-3" >
          <form action="#" method="POST" class="mt-2">
            <label for="search">ค้นหา</label>
            <input type="search" id="search" name="search" />
            <input type="submit" value="search" namel="_method" />
          </form>
        </div>
        <table class="table table-striped ">
          <thead >
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ชื่่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">เพศ</th>
              <th scope="col">ศาสนา</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>boonyarit</td>
              <td>Wanrat</td>
              <td>men</td>
              <td>buda</td>
              <td><a href="Give_Score.html"><i class="fa-solid fa-pen-nib"></i></a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>kong</td>
              <td>wa</td>
              <td>women</td>
              <td>!!NO</td>
              <td><a href=""><i class="fa-solid fa-pen-nib"></i></a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>kong</td>
              <td>wa</td>
              <td>women</td>
              <td>!!NO</td>
              <td><a href=""><i class="fa-solid fa-pen-nib"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
