<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADD score NewEmployee</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <!--<script src="bar.js"></script>-->
    <style>
      body {
        font-family: "Kanit", sans-serif;
      }
    </style>
  </head>
  <body>
    <h3 class="text-center mt-5">โปรดเลือกแผนก</h3>
    <div class="container mt-5">
      <!--วนรอบก้อนนี้ได้ กาด เลย-->
      <div class="card p-1 m-2 d-inline-block" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img
            src="https://cdn2.iconfinder.com/data/icons/luchesa-part-3/128/Programming-1024.png"
            width="200px"
            height="200px"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title text-center">Program</h5>
          <p class="card-text">
            ออกแบบและพัฒนาโปรแกรมระบบสารสนเทศภายในองค์กร โดยใช้ SQL
            ,PHP,Python,JAVA และ NodeJS เป็นหลัก
          </p>
          <p>01/04/2023</p>
          <a href="Select_Nemp.html" class="btn btn-secondary">ดูผู้สมัคร</a>
        </div>
      </div>
      <!--วนรอบก้อนนี้ได้ กาด เลย-->
      <div class="card p-1 m-2 d-inline-block" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img
            src="https://th.bing.com/th/id/OIP.7QZK_iaJ2JscD_K67fVGAwHaFW?pid=ImgDet&rs=1"
            width="200px"
            height="200px"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title text-center">Sql</h5>
          <p class="card-text">
            ออกแบบและพัฒนาโปรแกรมระบบสารสนเทศภายในองค์กร โดยใช้ SQL
            ,PHP,Python,JAVA และ NodeJS เป็นหลัก
          </p>
          <p>dd/mm/yyyy</p>
          <a href="Seletce_Nemp.html" class="btn btn-secondary">ดูผู้สมัคร</a>
        </div>
      </div>
      <div class="card p-1 m-2 d-inline-block" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img
            src="https://cdn2.iconfinder.com/data/icons/luchesa-part-3/128/Programming-1024.png"
            width="200px"
            height="200px"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title text-center">Program</h5>
          <p class="card-text">
            ออกแบบและพัฒนาโปรแกรมระบบสารสนเทศภายในองค์กร โดยใช้ SQL
            ,PHP,Python,JAVA และ NodeJS เป็นหลัก
          </p>
          <p>01/04/2023</p>
          <a href="Select_Nemp.html" class="btn btn-secondary">ดูผู้สมัคร</a>
        </div>
      </div>
    </div>
  </body>
</html>
