/* Style */

select{
    width: 300px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 0.5rem;   
    border : 1px solid #aaa;
    padding: 0 15px;
    height: 35px;
    margin: 8px 0;
}

.bar-menu input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    border-radius: 0.25rem;   
    border : 1px solid #aaa;
    padding: 0 15px;
    height: 35px;
}

.bar-menu{
    margin-top: 20px;
}

.label-count{
    margin-left: 10px;
}

.text-area textarea {
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 0.3rem; 
    border : 1px solid #aaa;
    padding: 0 15px;
    margin-top: 5px;
    resize: none;
}

/* Numberic Up Down */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: '\f068';
  transform: translate(-50%, -50%) ;
}
.number-input button.plus:after {
  font-weight: 900;
  content: '\f067';
  transform: translate(-50%, -50%);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 1.25rem;
  height: 1.8rem;
  font-weight: bold;
  text-align: center;
}
